<html>
  <body>
    <div id="Login-Form-Background" class="Login-Form-Background">
      <h1>Login Form</h1>
      <form method="post">
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="password" name="password" placeholder="Password" /><br />
        <input type="submit" value="Login" /> <br />
        Don't have an account? <a href="/register">Register</a>
      </form>
    </div>
  </body>
</html>
<!--afaq-->
<style>
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }
  div.Login-Form-Background {
    background-color: cadetblue;
    margin-left: 35%;
    margin-right: 35%;
    height: 50%;
  }
  form {
    text-align: center;
    align-items: center;
  }
  input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
